*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(120deg, #514211, #876157);
    color: white;
    font-family: "poppins";
    min-height: 100vh;
}

header{
    font-size: 1rem;

}
header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: .5rem;
    font-size: 1rem;
    border: none;
    background: white;
    max-width: 80%;
}
form button{
    color: #955405;
    background-color: #bfbfbf;
    cursor: pointer;
    transition: all 0.3s ease;

}
form button:hover{
    background: #514211;
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    border-radius: 12px;
}

.todo li{
    flex: 1;
}
 .trash-btn, .complete-btn{ 
    background: #e00909;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font: 1 rem;
 }

 .complete-btn{
    background-color: #955405;
 }
 .todo-item{
    padding: 0rem 0.5rem;
 }
 
.fa-trash, .fa-check{
    pointer-events: none;
} 
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}